*
{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
.header
{
    min-height:100vh;
    width:100%;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('images/banner05.png');
    background-size:cover;
    background-position: center;
    position:relative;
}
nav
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:1% 6%;
    align-items: center;
    background-color: black;

}
nav img{
    width:150px;

}
.nav-links{
    flex:1;
    text-align: right;
}

.nav-links ul li
{
    display:inline-block;
    list-style: none;
    padding:8px 22px;
    position:relative;
}
.nav-links ul li a
{
    text-decoration: none;
    color:#fff;
    font-size:18px;
}
.nav-links ul li ::after{
    content:'';
    width:0%;
    height:2px;
    background:#f44336;
    display: block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover ::after{
    width: 100%;
}
.header .text-box
{
    color:#fff;
    width:90%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
    
}
.header .text-box h1
{
    font-size: 62px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.header .text-box .hero-btn
{
    display:inline-block ;
    text-decoration: none;
    color:#fff;
    border:1px solid #fff;
    padding:12px 34px;
    font-size:13px;
    background: transparent;
    position:relative;
    cursor:pointer;

}
.header .text-box .hero-btn:hover{
    border:1px solid #f44336;
    background: #f44336;
    transition:1s;

}
nav .fa
{
    display:none;
}
/*media query for responsive webpage*/
@media(max-width:700px)
{
    .header .text-box h1
    {
        font-size:20px;
    }
    .nav-links ul li{
        display:block;
    }
    .nav-links
    {
        position:absolute;
        background:#f44336;
        height:100vh;
        width:200px;
        top:0;
        right:-200px;
        text-align:left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa
    {
        display:block;
        color:#fff;
        margin:10px;
        font-size:22px;
        cursor:pointer;
    }
    

}
/* VOLUNTEERS SECTION */
.volunteer-section {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.volunteer-section .title {
    text-align: center;
    color: black;
    font-size: 2rem;
}

.volunteer-section .title span {
    color: #4c9e9e;
}

.volunteer-section .message {
    text-align: center;
    padding: 15px 10px;
    width: 50%;
    margin: auto;
}

.vol-container {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.vol-container .cards p {
    text-align: center;
    margin: 0;
}

.vol-container .cards .name {
    color: rgb(38, 41, 41);
    padding-top: 5px;
    font-size: 20px;
}
/* testimonial */
.test-section{
    height: 100%;
    width: 100%;
    background:linear-gradient(0deg, rgba(37, 36, 37, 0.712), rgba(41, 36, 39, 0.685)), url('./images/testback.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white !important;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.test-title{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    padding-bottom: 5px;
    text-align: center;
    margin-bottom: 3rem;
}

.text-muted{
    color: white !important;
}

.carousel-control-next-icon:after, .carousel-control-prev-icon:after{
    color: #000000;
}
footer{
    background-color: rgb(19,18,18);
    margin-top: 100px;
    color:#fff;
}
#footer
{
    color:black;
}

.copyright{
    display: flex !important;
    justify-content: space-between;
    background-color: rgb(214, 211, 211);
    color: #fff;
}


